.footer__copyright {
    margin: 0;
    padding: 0;
    text-align: right;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        line-height: 100%;
        text-align: start;
        margin-top: 48px;
    }
}