.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 100%;
  position: relative;
  text-decoration: none;
  display: flex;
  align-self: center;
  flex-direction: column;
  z-index: 1;
  align-items: center;
  min-height: 740px;
  background-position: center;
  justify-content: center;
}

.cover__background::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.3s;
}

.cover__background:hover::after {
  opacity: 0.8;
}

@media screen and (max-width: 1023px) {
  .cover {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .cover__background {
    width: 100%;
    min-height: 200px;
  }
}