.page__wrapper {
    color: #fff;
    font-family: "Inter", "Helvetica", sans-serif;
    margin: 0 auto;
    max-width: 1280px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
}